:root {
    --accent: 100, 5, 255;
    --lightdark: rgb(255, 255, 255, 0.65);
    --lightdark2: #fff;
    --lightdark3: #ddd;
    --bordercolor: rgba(180, 180, 180, 0.2);
    --bg: #fff;
    --fontc: #000;
    --fz1: 16px;
    --fz2: 14px;
    --rad1: 15px;
    --rad2: 10px;
    --blur1: 6px;
    --blur2: 10px;
    --bgurl: url("./wall/light.png");
}

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'PoppinsB';
    src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'PoppinsM';
    src: url(./fonts/Poppins-Medium.ttf);
}

body {
    background-color: var(--bg);
    color: var(--fontc);
    font-size: var(--fz1);
    font-family: 'Poppins', Arial;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background-image: var(--bgurl);
}

.bold {
    font-family: "PoppinsB";
}

.med {
    font-family: "PoppinsM";
}

html,
body {
    overscroll-behavior: none;
}

.setup {
    position: fixed;
    transform: translate(-50%, -50%) scale(1.0);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 150px 30px;
    left: 50%;
    top: 50%;
    padding: 12px;
    border: 2px solid var(--bordercolor);
    background-color: var(--lightdark);
    border-radius: var(--rad1);
    max-width: 85% !important;
    animation: 0.5s yeah;
}

#gomenu {
    position: fixed;
    transform: translate(-50%, -50%) scale(1.0);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 150px 30px;
    -webkit-backdrop-filter: blur(var(--blur1));
    backdrop-filter: blur(var(--blur1));
    left: 50%;
    top: 50%;
    padding: 12px;
    width: 300px;
    height: auto;
    border: 2px solid var(--bordercolor);
    background-color: var(--lightdark);
    border-radius: var(--rad1);
    max-width: 85% !important;
    display: none;
    animation: 0.5s yeah;
}

.window {
    position: absolute;
    border-radius: var(--rad1);
    -webkit-backdrop-filter: blur(var(--blur1));
    backdrop-filter: blur(var(--blur1));
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 150px 30px;
    border: 1px solid var(--bordercolor);
    max-width: 85%;
    max-height: 90%;
    background-color: var(--lightdark);
    display: none;
}

.dragging {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

.titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    padding-left: 11px;
    padding-right: 11px;
    background-color: var(--lightdark2);
    width: 100%;
    box-sizing: border-box;
    user-select: none;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom: 1px solid var(--bordercolor);
    transition: 0.05s;
}

.title {
    flex-grow: 1;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tnav {
    display: flex;
}

.winb {
    width: 15px;
    height: 15px;
    margin-right: 7px;
    border-radius: 50%;
    background-color: var(--lightdark3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.winb:active {
    opacity: 75%;
}

.red {
    background-color: rgb(255, 59, 48);
}

.yel {
    background-color: rgb(255, 204, 0);
}

.gre {
    background-color: rgb(52, 199, 89);
}

.max {
    position: fixed;
    left: 0px !important;
    top: 0px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    transition: 0.3s;
    width: 100% !important;
    height: 100% !important;
    z-index: 4;
    border-radius: 0px;
}

.unmax {
    transition: 0.3s;
}

.window.max .titlebar {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navigation-button:hover {
    background-color: var(--lightdark4);
}

.content {
    padding: 10px;
}

#taskbar {
    position: fixed;
    left: 50%;
    bottom: 4px;
    transform: translate(-50%);
    border: 2px solid var(--bordercolor);
    background-color: var(--lightdark);
    -webkit-backdrop-filter: blur(var(--blur1));
    backdrop-filter: blur(var(--blur1));
    border-radius: var(--rad2);
    padding: 5px;
}

p {
    margin: 0px;
    padding: 0px;
    margin-bottom: 2px;
}

.smt {
    font-size: var(--fz2);
    color: var(--fontc2);
}

input:placeholder {
    color: var(--fontc);
}

.rsmt {
    font-size: var(--fz3);
    color: var(--fontc2);
    padding: 0px;
    margin: 0px;
}

.h2 {
    font-size: 22px;
    font-family: 'PoppinsM', Arial;
}

.h3 {
    font-size: 19px;
    font-family: 'PoppinsM', Arial;
}

.folder {
    color: blue;
    cursor: pointer;
}

.crumb {
    cursor: pointer;
    font-family: 'PoppinsM', Arial;
}

.file-folder {
    cursor: pointer;
}

button {
    color: var(--fontc);
    font-family: 'PoppinsM', Arial;
}

.b1 {
    padding: 4px 6px;
    border-radius: 8px;
    background-color: rgba(var(--accent), 0.15);
    font-size: 1em;
    border: 2px solid rgba(var(--accent), 0.4);
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.08s ease-in-out;
    margin: 1px;
}

.b1:hover {
    background-color: rgba(var(--accent), 0.3);
    border-color: rgba(var(--accent), 0.6);
    transform: scale(0.96);
}

.b1:active {
    background-color: rgba(var(--accent), 0.42);
    border-color: rgba(var(--accent), 0.8);
    transform: scale(0.90);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.b3 {
    padding: 2px 5px;
    border-radius: 6px;
    background-color: rgba(var(--accent), 0.2);
    border: 1px solid transparent;
    font-size: 1em;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.05s ease-in-out;
    margin: 1px;
}

.b3:hover {
    border: 1px solid rgba(var(--accent), 0.35);
}

.b3:active {
    background-color: rgba(var(--accent), 0.35);
    border-color: rgba(var(--accent), 0.8);
    transform: scale(0.90);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#oobespace {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 3;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
}

.b2 {
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    margin-bottom: 2px;
}

.hide {
    display: none;
}

.i1 {
    padding: 4px 7px;
    border-radius: var(--rad2);
    border: 2px solid rgba(var(--accent));
    background-color: rgba(var(--accent), 0.1);
    font-size: var(--fz1);
    color: var(--fontc);
    width: 100%;
    box-sizing: border-box;
    font-family: 'PoppinsM', Arial;
    margin-bottom: 2px;
    transition: 0.05s;
    outline: none;
}

.i1:focus {
    background-color: rgba(var(--accent), 0.3);
}

.container {
    display: flex;
    max-width: 100%;
    max-height: 100%;
}

.logo {
    width: 80px;
    height: 80px;
    border: none;
}

.info {
    margin-left: 8px;
    max-width: calc(100% - 80px - 8px);
}

.progress-bar {
    width: 100%;
    box-sizing: border-box;
    height: 22px;
    padding: 3px;
    border: 1px solid rgba(var(--accent), 0.3);
    background-color: var(--lightdark);
    border-radius: var(--rad2);
}

.progress {
    height: 100%;
    background-color: rgba(var(--accent), 0.7);
    width: 0%;
    border-radius: 5.5px;
}

a {
    color: var(--font);
    transition: 0.05s;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    opacity: 0.7;
}

a:active {
    opacity: 0.4;
}

.snack {
    position: fixed;
    background-color: var(--lightdark);
    bottom: 15px;
    border-radius: var(--rad1);
    padding: 10px;
    left: 50%;
    transform: translate(-50%);
    animation: fade 0.7s;
    max-width: 70%;
    cursor: pointer;
    border: 1px solid var(--lightdarkb);
}

.cm {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--lightdark);
    border: 2px solid rgba(var(--accent), 0.3);
    z-index: 9990;
    padding: 10px;
    border-radius: var(--rad1);
}

.embed {
    border-radius: 9px;
    width: 100%;
    box-sizing: border-box;
    resize: both;
    overflow: auto;
    max-height: 75%;
}

@keyframes fade {
    0% {
        padding: 10px;
        bottom: 40px;
        opacity: 0%;
    }

    100% {
        padding: 10px;
        bottom: 15px;
    }
}